$accent-color: #fd46ff;
img{
  max-width: 100%;
}
li,
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container{
  max-width: 90%;
  margin:  0 auto;
}
.BuildABox{
  display: flex;
  flex-flow: row wrap;
  &__main{
    width: 80%;
  }
  &__sidebar{
    width: 20%;
  }
  &__main-products{
    display: flex;
    flex-flow: row wrap;
    li{
      text-align: center;
      width: 50%;
    }
  }
  &__addon-products,
  &__card-products{
    display: flex;
    flex-flow: row wrap;
    li{
      text-align: center;
      width: 25%;
    }
  }
}
//Page Bar
.PageBar{
  width: 100%;
  text-align: center;
}
.PageBar button{
  font-size: 2.5rem;
  background: transparent;
  border: none;
}
.PageBar button.active{
  color: $accent-color;
}

//Product
.Product{
  display: inline-block;
  text-align: center;
  position: relative;
  &__image{
    border: 2px solid transparent;
    margin: 0 auto;
  }
  &--selected .Product__image{
    border: 2px solid $accent-color;
  }
  &__button{
    background: white;
    border: 1px solid black;
    text-transform: uppercase;
    padding: 10px 20px;
    min-width: 160px;
  }
  &__card-popup{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    &__content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 2;
    }
    &__overlay{
      content:'';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0,0,0,.3);
    }
  }
}

.Product--main{
  position: relative;
}
.Product--main .Product{
  &__button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.Product--addon .Product{
  &__image{
    vertical-align: middle;
  }
  &__button-container{
    opacity: 0;
    position: absolute;
    bottom: 10px;
    width: 220px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .3s;
  }
  &__button{
    text-align: left;
    width: 90%;
  }
  &__quantity-added{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: white;
    border: 2px solid $accent-color;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__quantity{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__quantity-btn{
    background: transparent;
    border: none;
  }
  &__image-container{
    position: relative;
  }
}
.Product--addon{
  &:hover{
    .Product__button-container{
      opacity: 1;
    }
  }
}
.Product--card .Product{
  &__image-container{
    position: relative;
  }
  &__button{
    transition: opacity .3s;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.Product--card{
  &:hover{
    .Product__button{
      opacity: 1;
    }
  }
}
//Filter
.Filter__wrapper{
  display: inline-block;
  position: relative;
  &:after{
    position: absolute;
    content:"\f107";
    display: inline-block;
    font-family: FontAwesome;
    z-index: 1;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.Filter{
  min-width: 140px;
  position: relative;
  z-index: 2;
  border: 1px solid black;
  border-radius: 0;
  background: transparent;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
}