$accent-color: #fd46ff;
$laptop: 1440px;
$tablet: 1000px;
$mobile: 750px;
@mixin maxQuery($resolution){
  @media screen and (max-width: $resolution){
    @content;
  }
}

img{
  max-width: 100%;
}
li,
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container{
  max-width: 90%;
  margin:  0 auto;
  margin-top: 50px;
}
.BuildABox{
  font-size: 13px;
  display: flex;
  flex-flow: row wrap;
  &__main{
    width: 80%;
  }
  &__sidebar{
    width: 20%;
    position: relative;
  }
  &__main-products{
    display: flex;
    flex-flow: row wrap;
    li{
      text-align: center;
      width: 50%;
    }
    @include maxQuery($mobile){
      li{width: 100%;}
    }
  }
  &__addon-products,
  &__card-products{
    display: flex;
    flex-flow: row wrap;
    li{
      text-align: left;
      width: 20%;
    }
  }
}
@include maxQuery($laptop){
 .BuildABox{
    &__addon-products,
    &__card-products{
      li{width: 33.333%;}
    }  
  } 
}
@include maxQuery($tablet){
  .BuildABox{
    &__addon-products,
    &__card-products{
      li{width: 50%;}
    }  
  }
}
@include maxQuery($mobile){
  .BuildABox{
    &__main{
      width: 100%;
    }
    &__sidebar{
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
}
.BuildABox__main-product-page .BuildABox__main{
  width: 100%;
}
//Page Bar
.PageBar{
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: white;
  &__button{
    font-size: 2rem;
    background: transparent;
    border: none;
  }
}

.PageBar__button{
  &--enabled{
    color: #4d4d4d;
  }
  &--disabled{
    color: #dbdbdb;
  }
  &--active{
    color: $accent-color;
  }
}

//Product
.Product{
  display: inline-block;
  text-align: center;
  position: relative;
  &__image{
    border: 2px solid transparent;
    margin: 0 auto;
  }
  &--disabled .Product__image{
    opacity: .25;
  }
  &--selected .Product__image{
    border: 2px solid $accent-color;
  }
  &__button{
    background: white;
    border: 1px solid black;
    text-transform: uppercase;
    padding: 10px 20px;
    min-width: 160px;
    transition: color .3s;
    &:hover{
      color: $accent-color;
    }
  }
  &__card-popup{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    &__content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 2;
    }
    &__overlay{
      content:'';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0,0,0,.65);
    }
  }
}

.Product--main{
  position: relative;
  width: 100%;
}
.Product--main .Product{
  &__image{
    width: 50%;
  }
  &__button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  @include maxQuery($tablet){
    &__image{width: 90%;}
  }
}

.Product--addon{
  display: inline-block;
  text-align: center;
  max-width: 250px;
  margin-right: 20px;
  &:hover{
    .Product__button-container{
      opacity: 1;
    }
  }
}
.Product--addon .Product{
  &__image{
    vertical-align: middle;
  }
  &__button-container{
    opacity: 0;
    position: absolute;
    bottom: 10px;
    width: 220px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .3s;
    display: flex;
  }
  &__button-container--active{
    opacity: 1;
    justify-content: center;
  }
  &__add-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: white;
    border: 1px solid black;
    text-transform: uppercase;
    padding: 5px 10px;
    bottom: 0;
  }
  &__quantity{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
  }
  &__quantity-btn{
    height: 25px;
    width: 35px;
    background-color: white;
    border-top: none;
    border-bottom: none;
  }
  &__quantity-btn--disabled{
    opacity: .3;
    background-color: #FEFEFE;
  }
  &__quantity-btn:first-child{
    border-right: 1px solid black;
    border-left: none;
  }
  &__quantity-btn:last-child{
    border-left: 1px solid black;
    border-right: none;
  }
  &__quantity-added{
    position: absolute;
    top: -10px;
    right: -20px;
    background-color: white;
    border: 2px solid $accent-color;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image-container{
    position: relative;
    display: inline-block;
  }
}

.Product--card{
  display: inline-block;
  text-align: center;
  max-width: 250px;
  margin-right: 20px;
  &:hover{
    .Product__button{
      opacity: 1;
    }
  }
}
.Product--card .Product{
  &__image-container{
    position: relative;
  }
  &__button{
    transition: opacity .3s;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.Product--card .Product__card-popup{
  &__content{
    display: flex;
    flex-flow: row wrap;
    width: 900px;
    max-width: 100%;
    justify-content: space-between;
  }
  &__image-container{
    width: 40%;
  }
  &__text{
    padding: 15px;
    width: 55%;
    background-color: #F9F9F9;
    text-align: left;
  }
  &__input-container{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  textarea{
    width: 100%;
  }
  @include maxQuery($tablet){
    &__content{
      flex-direction: column-reverse;
    }
    &__image-container{
      display: none;
      width: 100%;
    }
    &__text{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

//Filter
.Filter__wrapper{
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  &:after{
    position: absolute;
    content:"\f107";
    display: inline-block;
    font-family: FontAwesome;
    z-index: 1;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.Filter{
  min-width: 140px;
  position: relative;
  z-index: 2;
  border: 1px solid black;
  border-radius: 0;
  background: transparent;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

//Build Summary
.BuildSummary{
  width: 100%;
  position: sticky;
  top: 40px;
  background-color: #F9F9F9;
  padding: 10px;
  &__fill-meter{
    background-color: white;
    height: 20px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    text-align: center;
  }
  &__fill-amount{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $accent-color;
    border-radius: 10px;
    max-width: 100%;
  }
  &__fill-text{
    position: absolute;
    z-index: 2;
    width: 100%;
  }
  &__change-button{
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: none;
    width: 100%;
    padding: 7px 10px;
    span{
      display: inline-block;
      margin-left: 5px;
    }
  }
  &__product{
    display: flex;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
  }
  &__product-image{
    width: 25%;
  }
  &__product-text{
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__product-remove{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: black;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    color: white;
    border: none;
    &:hover{
      cursor: pointer;
    }
    .fa-times-thin{
      position: absolute;
      font-size: 14px;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    .fa-times-thin:before {
      content: '\00d7';
    }
  }
}

.MobileBuildSummary{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #FCF4FF;
  &__main-product{
    display: none;
  }
  &__addon-products{
    display: none;
  }
  &__card-product{
    display: none;
  }
}